header {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}

div {
    border: 1px solid blue;
}

.nav-bar {
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
}

.nav-item {
    padding: 5px 1em;
    width: 50px;
    border-right: 1px solid black;
    text-align: center;
    cursor: pointer;
}

.nav-item:hover {
    background: lightblue;
    margin-top: -3px;
}

.nav-bar:last-child {
    border-right: none;
}

.logo {
    height: 2em;
}

.hero {
    height: 550px;
    background-image: url(https://assets-global.website-files.com/61af164800e38c4f53c60b4e/61dee4b2dc58f411f5a08d55_RevoU%20(2).jpg);
    background-size: contain;
}

.wrapper {
    display: flex;
}

headquarters-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1em;
}

headquarters-image {
    height: 5em;
    width: 5em;
    border-radius: 50px;
    border: 1px solid black;
}

